*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: auto;
    background:white;
    background-position: center;
    background-size: cover;
    padding: 1rem 0;

}
header a{
    text-decoration: none;
    color:black;
}

.container-flex{
    max-width: 90%;
    margin:0 auto;

}
.container-menu{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background:transparent;
    padding: 40px;
    text-align: center;
}

.container-menu h2{
    color: midnightblue;
    font-style: oblique;
}
.nav-menu ul li{
    display:inline;
    list-style: none;
    padding:0 1rem;
}

.container-hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background:url('../img/food.jpg');
}
.container-hero h1{
    font-size: 3.5rem;
    color:blanchedalmond;
    text-align: center;

}
.container-hero sub{
    font-size: 1.5rem;
    margin-top:1.5rem;
    color:cornsilk;
}

.container-hero h2{
    color:blue
}

.btn{
    border: 1px solid brown;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin-top:1.5rem;
    float: left;
}

img{
    width:150px;
    text-align: center;
}


/*responsive*/

@media (min-width:300px) and (max-width:800px){
    header .logo{
        display:none;
    }
    .container-menu{
        justify-content: center;
    }
    .container-hero{
        height: 90vh;
    }
    .container-hero h1{
        font-size: 2.5rem;
    }
    .container-hero sub{
        font-size: 1rem;
    }
    .container-flex{
        font-size: 1rem;
    }
    .nav-menu li{
        float: left;
    }

}

