table{
    table-layout:auto;
    width: 50%;
    border-collapse:collapse;
    border: 5px solid rgb(53, 42, 42);
    border: "2";

}
th,td{
    padding: 20px;
}
th{
    text-align: center;
}


.tabla{
    width: 80%;
    height: 250px;
    margin: 50px auto 0 auto;

}

.ima{
    width:50%;
    height:50%;
}

